@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  background-image: url();
  color: 202020;
  /* background: #202020;
  color: white; */
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}
