@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background: #fff;
  color: 202020; */
  background: #f9f2e7;
  color: white;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}
