@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #c0c0c1d8;
  /* background-image: url("img\calidad_15_K_okNoxD.png"); */
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  /*background-repeat: no-repeat; Evita que la imagen se repita*/
  color: #fff;
}

.content-container {
  height: calc(100vh - theme("spacing.20"));
}

/* styles.css */
.bg-custom-blue {
  background-color: rgb(68 53 212);
}
