@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)),
    url("https://pinguinodigital.com/wp-content/uploads/2020/06/Fondo-web-3--1024x640.jpeg") center/cover no-repeat,
    #8faafc; /* Fondo azul claro en caso de que la imagen no cubra completamente la pantalla */
  color: #fff;
}



.content-container {
  height: calc(100vh - theme("spacing.20"));
}

/* styles.css */
.bg-custom-blue {
  background-color: rgb(68 53 212);
  border-color: #fff;
  border: 1px solid #fff;
}
