@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5) 80%, #ffffff), url("https://pinguinodigital.com/wp-content/uploads/2020/06/Fondo-web-3--1024x640.jpeg");
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  color: #fff;
}




.content-container {
  height: calc(100vh - theme("spacing.20"));
}

/* styles.css */
.bg-custom-blue {
  background-color: rgb(68 53 212);
  border-color: #fff;
  border: 1px solid #fff;
}
