PORT=4000
MONGODB_URI=mongodb+srv://Eduardo_465:OR5p2WBrfXv3SHlN@mi-cluster.fcmbkk4.mongodb.net/dbSolicitud?retryWrites=true&w=majority&appName=Mi-Cluster
TOKEN_SECRET=yoursecret
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME=dxmhlxdxo
CLOUDINARY_API_KEY=611133767965517
CLOUDINARY_API_SECRET=zF4Cfv_yCrn3opvZxN8mV1skioc