PORT=4000
MONGODB_URI=mongodb+srv://Eduardo_465:OR5p2WBrfXv3SHlN@mi-cluster.fcmbkk4.mongodb.net/dbSolicitud?retryWrites=true&w=majority&appName=Mi-Cluster
TOKEN_SECRET=yoursecret
FRONTEND_URL=http://localhost:5173
CLOUDINARY_CLOUD_NAME
CLOUDINARY_APY_KEY