.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.formulariodatos {
  border-radius: 4px ;
  /* background-color: cadetblue; */
  background-color: #4b30d0;
  width: 80%;
  height: 580px;
  margin: 20px auto;
  padding: 10px;
  box-sizing: border-box;
}

.division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.division>* {
  flex: 1;
  margin: 0 10px;
  border-radius: 4px;
}

.inputs3 {
  height: 80px;
  width: 270px;
  color: black;
  border-radius: 4px;
}

.Inputs2 {
  border: 1px solid #0056b3;
  width: 25px;
  border-radius: 4px;
}


.labels {
  font-size: 20px;
  
}

.Inputfolio {
  width: 50px;
  /* Ajusta este valor según tus necesidades */
  height: 20px;
  /* Ajusta este valor según tus necesidades */
}

.btn-primary {
  margin: 15px;
  width: 200px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}