.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulariodatos {
  border-radius: 4px;
  background-color: #543ad4;
  width: 80%;
  max-width: 600px; /* Limita el ancho máximo del formulario */
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

.division {
  display: flex;
  flex-direction: column; /* Cambia la dirección de la distribución */
  margin: 15px 0;
}

.division > * {
  margin-bottom: 15px;
}

.labels {
  font-size: 20px;
  font-weight: bold;
}

.Inputs2, .select, .inputs3 {
  width: 100%; /* Ajusta el ancho al 100% para ocupar el contenedor */
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000;
  font-weight: bold;
}

.inputs4 {
  min-height: 120px; /* Ajusta la altura mínima */
  width: 100%;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  resize: none;
  overflow-y: auto;
}

.btn-primary, .btn-agregarfila {
  width: 100%; /* Ajusta el ancho al 100% */
  height: 55px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px; /* Agrega espacio superior */
}

.btn-primary:hover, .btn-agregarfila:hover {
  background-color: #0056b3;
}

.botones {
  display: flex;
  justify-content: space-around; /* Distribuye uniformemente los botones */
}

@media (min-width: 768px) {
  .formulariodatos {
    width: 70%; /* Cambia el ancho del formulario en pantallas más grandes */
  }

  .Inputs2, .select, .inputs3 {
    width: 90%; /* Ajusta el ancho en pantallas más grandes */
  }

  .btn-primary, .btn-agregarfila {
    width: 45%; /* Ajusta el ancho en pantallas más grandes */
  }
}
