.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulariodatos {
  border-radius: 4px;
  /* background-color: cadetblue; */
  background-color: #543ad4;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

.option {
  background-color: #f5f5f5; 
  color: #333; 
}

.division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.division > * {
  flex: 1;
  margin: 0 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}


.inputs4 {
  height: auto; /* Establece la altura automática */
  min-height: 80px; /* Altura mínima */
  max-height: 200px; /* Altura máxima */
  width: 70%; /* Cambiado a 100% para que se expanda horizontalmente */
  color: black;
  border-radius: 4px;
  resize: none; /* Evita que se pueda redimensionar */
  overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.labels {
  font-size: 20px;
  font-weight: bold; 
}




.btn-primary {
  margin: 15px;
  width: 200px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  cursor: pointer;
}
.btn-agregarfila {
  margin: 15px;
  width: 200px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  font-weight: bold; /* Aumenta el grosor de la fuente */
}

.botones {
  display: flex;
  justify-content: center;font-weight: bold; /* Aumenta el grosor de la fuente */
  align-items: center;
  text-align: center;
}

.Inputs2, .select, .inputs3 {
  width: 90%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}

.btn-agregarfila {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.btn-agregarfila:hover {
  background-color: #0056b3;
}
