.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulariodatos {
  border-radius: 4px;
  background-color: #543ad4;
  color: #000;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.option {
  background-color: #f5f5f5; 
  color: #333; 
}

.division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.division > * {
  flex: 1;
  margin: 0 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}


.inputs4 {
  height: auto; /* Establece la altura automática */
  min-height: 80px; 
  max-height: 200px;
  width: 70%; /* Cambiado a 100% para que se expanda horizontalmente */
  color: black;
  font-weight: bold;
  border-radius: 4px;
  resize: none; /* Evita que se pueda redimensionar */
  overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.labels {
  font-size: 20px;
  font-weight: bold;  
  color: white;
}


.btn-primary {
  margin: 15px;
  width: 200px;
  height: 55px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  cursor: pointer;
}


.btn-primary:hover {
  background-color: #0056b3;
  font-weight: bold; /* Aumenta el grosor de la fuente */
}

.botones {
  display: flex;
  justify-content: center;font-weight: bold; /* Aumenta el grosor de la fuente */
  align-items: center;
  text-align: center;
}

.Inputs2, .select, .inputs3 {
  width: 70%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}
.Inputs{
  width: 50%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}

.btn-agregarfila {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
