.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulariodatos {
  border-radius: 4px;
  background-color: #543ad4;
  color: #000;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.option {
  background-color: #f5f5f5; 
  color: #333; 
}

.division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.division > * {
  flex: 1;
  margin: 0 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}


.inputs4 {
  height: auto; 
  min-height: 80px; 
  max-height: 200px;
  width: 70%; 
  color: black;
  font-weight: bold;
  border-radius: 4px;
  resize: none; 
  overflow-y: auto; 
}

.labels {
  font-size: 20px;
  font-weight: bold;  
  color: white;
}


.btn-primary {
  margin: 15px;
  width: 200px;
  height: 55px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; 
  cursor: pointer;
}


.btn-primary:hover {
  background-color: #0056b3;
  font-weight: bold; 
}

.botones {
  display: flex;
  justify-content: center;font-weight: bold; /* Aumenta el grosor de la fuente */
  align-items: center;
  text-align: center;
}

.Inputs2 {
  width: auto; /* Cambia el ancho automáticamente según el contenido */
  max-width: 50%; /* Establece un ancho máximo para evitar que sean demasiado anchos */
  height: 10%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}

/* También puedes aplicar estos estilos a los select de la misma manera */
.select2 {
  width: 10%;
  max-width: 80%;
  height: 10%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}

.inputs3 {
  width: 100%;
  height: max-content;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}
.inputsTEXTO {
  width: 70%;
  height: 80px;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}
.Inputs{
  width: 50%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}

.btn-agregarfila {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}


.division-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.select-container {
  flex: 1;
  margin: 0 10px;
  margin-bottom: 15px;
}

.select-container label {
  display: block;
  font-size: 20px;
  font-weight: bold;  
  color: white;
  margin-bottom: 5px;
}

.select-container select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #000; 
  font-weight: bold;
}
.labelsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.labels {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
