.body2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.formulariodatos {
  border-radius: 4px;
  /* background-color: cadetblue; */
  background-color: #543ad4;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
}

.option {
  background-color: #f5f5f5; /* Color de fondo de las opciones */
  color: #333; /* Color del texto de las opciones */
}

.division {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}

.division > * {
  flex: 1;
  margin: 0 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.inputs3 {
  height: auto; /* Establece la altura automática */
  min-height: 80px; /* Altura mínima */
  max-height: 200px; /* Altura máxima */
  width: 100%; /* Cambiado a 100% para que se expanda horizontalmente */
  color: black;
  border-radius: 4px;
  resize: none; /* Evita que se pueda redimensionar */
  overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido excede la altura máxima */
}
.inputs4 {
  height: auto; /* Establece la altura automática */
  min-height: 80px; /* Altura mínima */
  max-height: 200px; /* Altura máxima */
  width: 70%; /* Cambiado a 100% para que se expanda horizontalmente */
  color: black;
  border-radius: 4px;
  resize: none; /* Evita que se pueda redimensionar */
  overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido excede la altura máxima */
}

.Inputs2 {
  border: 1px solid #0056b3;
  width: 200px;
  border-radius: 4px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  color: black;
}

.labels {
  font-size: 20px;font-weight: bold; /* Aumenta el grosor de la fuente */
}

.select {
  color: #000; 
  font-weight: bold; /* Aumenta el grosor de la fuente */
  border-radius: 4px; 
  width: max-content;
  height: auto;
}

.Inputfolio {
  width: 50px;
  height: 20px;
  color: black;
  font-weight: bold; /* Aumenta el grosor de la fuente */
}

.btn-primary {
  margin: 15px;
  width: 200px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  cursor: pointer;
}
.btn-agregarfila {
  margin: 15px;
  width: 200px;
  height: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold; /* Aumenta el grosor de la fuente */
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
  font-weight: bold; /* Aumenta el grosor de la fuente */
}

.botones {
  display: flex;
  justify-content: center;font-weight: bold; /* Aumenta el grosor de la fuente */
  align-items: center;
  text-align: center;
}
