.items-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px; /* Ajusta el ancho máximo según sea necesario */
}

.items-table {
  width: 100%;
  border-collapse: collapse;
}

.items-table th,
.items-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
  width: 16.6%; /* Ajuste automático para que todas las columnas tengan el mismo ancho */
}

.items-table th {
  background-color: #f2f2f2;
}

.inputs3 {
  width: 100%;
  height: 100px; /* Ajusta la altura según sea necesario */
}

.inputs,
.inputs3 {
  width: 100%;
}

.items-container button {
  width: 100%;
  margin-top: 10px;
}
