.items-container {
  margin: 0 auto;
  width: 100%; /* Cambiado a 100% */
  max-width: 800px; /* Ajusta el ancho máximo según sea necesario */
}

.items-table {
  width: 100%; /* Cambiado a 100% */
  border-collapse: collapse;
}

.items-table th,
.items-table td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

.items-table th {
  background-color: #f2f2f2;
}

.inputs3 {
  width: calc(100% - 20px); /* Ajusta la anchura según sea necesario */
  height: 100px; /* Ajusta la altura según sea necesario */
}

.inputs,
.inputs3 {
  width: calc(100% - 20px); /* Ajusta la anchura según sea necesario */
}

.items-container button {
  width: calc(100% - 20px); /* Ajusta la anchura según sea necesario */
}
