.tabla-items {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-items th, .tabla-items td {
    padding: 8px;
    border: 1px solid #ddd; 
  }
  
  .tabla-items th {
    background-color: #f2f2f2;
  }
  
