.tabla-items {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-items th, .tabla-items td {
    padding: 8px;
    border: 1px solid #ddd; 
  }
  
  .tabla-items th {
    background-color: #f2f2f2;
  }
  
  .Inputs2, .select, .inputs3 {
    width: 950%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .btn-agregarfila {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .btn-agregarfila:hover {
    background-color: #0056b3;
  }
  